* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #2E2E2E;
  color: white;
  padding: 20px;
}

.logo {
  color: #F2B705;
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* CONTENIDO */
.content {
  flex: 1;
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #2E2E2E;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  color: #F2B705;
}

.highlight {
  background: #F2B705;
}

.highlight p {
  color: white;
}
