{% extends "base.html" %}

{% block content %}

<div class="card">
  <h3>Datos Registrados</h3>
  <table>
    <tr>
      <th>Mes</th>
      <th>Ventas</th>
      <th>Crecimiento</th>
    </tr>
    {% for fila in datos %}
    <tr>
      <td>{{ fila[1] }}</td>
      <td>{{ fila[2] }}</td>
      <td>{{ fila[3] }}%</td>
    </tr>
    {% endfor %}
  </table>
</div>

<h1>Dashboard de Marketing</h1>

<h2 style="margin-top:40px;">Ventas Anuales</h2>

<canvas id="ventasChart" width="800" height="300"></canvas>

<script src="/static/js/chart.js"></script>

<h3>Público Objetivo</h3>
<canvas id="publicoChart" width="400" height="300"></canvas>

<h3>Crecimiento Mensual (%)</h3>
<canvas id="crecimientoChart" width="600" height="300"></canvas>

<h3>Presencia en Redes Sociales</h3>
<canvas id="redesChart" width="700" height="350"></canvas>


<div class="cards">

  <div class="card">
    <h3>Ventas Anuales</h3>
    <p>$1.200.000</p>
  </div>

  <div class="card">
    <h3>Crecimiento</h3>
    <p>+18%</p>
  </div>

  <div class="card">
    <h3>Presencia en Redes</h3>
    <p>Alta</p>
  </div>

  <div class="card highlight">
    <h3>Público Objetivo</h3>
    <p>60% Mujeres</p>
  </div>

</div>
{% endblock %}



